@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-color:#EFE8D8;
}

/* navigation bar */

.navbar{
  height : 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  margin: auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.215);
}
.logo img{
  height: 2rem;
  width: 10rem;
  cursor: pointer;
}
.menu ul{
  list-style-type: none;
}
.menu ul li{
  display: inline-block;
  margin-left: 20px;
}
.menu ul a:hover{
  color :black;
}
.btn button{
  padding : 10px 30px;
  background-color: rgba(26,146,146,0.084);
  color: black;
  border:1px solid teal;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.6s linear;
}
button:hover{
  background-color: transparent;
}
.menu ul li a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
/* Hero Section */
/* Layout */
.hero_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 60px;
}

/* Container that holds overlapping images */
.image_box {
  position: relative;
  width: 320px;
  height: 350px;
}

/* All images */
.image_box .img {
  width: 250px;
  height: 330px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.25);
  position: absolute;
}

/* First image */
.img1 {
  top: 0;
  left: 0;
  z-index: 1;
}

/* Second image slightly shifted */
.img2 {
  top: 40px;
  left: 60px;
  z-index: 2;
}

/* Text Section */
.hero_right {
  max-width: 450px;
}

.hero_right h1 {
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.hero_right p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.hero_btn {
  padding: 12px 25px;
  border: none;
  background-color: #1e90ff;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}


.hero_btn:hover {
  background-color: #006edc;
}

